.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    background-color: dimgray;
    color: white;
    font-family: Helvetica, sans-serif;
    border: 2px solid black;
    align-content: center;
}

.pseudo-button {
    display: block;
    background-color: #FFCC00;
    color: black;
    height: 100%;
    width: 30px;
    text-align: center;
    border-left: 2px solid black;
}

.flex-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;

}

.collapse {
    visibility: collapse;
}

#expand-toggle:checked~* .collapse {
    visibility: visible;

}

.collapse-style {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: gainsboro;
}

h4 {
    display: inline-block;
    margin: auto 10px;
}

.open-symbol,
.close-symbol {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#expand-toggle {
    display: none;
}

span label {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#expand-toggle:checked~* .pseudo-button label {
    background-color: darkred;
    color: white;
}

.pseudo-button label span {
    width: 100%;
    height: 100%;
    font-size: 16pt;
}

#expand-toggle:checked~* .pseudo-button label span:first-child {
    display: none;
}

.pseudo-button label span:nth-child(2) {
    display: none;
}

#expand-toggle:checked~* .pseudo-button label span:nth-child(2) {
    display: block;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}