body {height: 100%; width: 100%; display: flex;  box-sizing: border-box;}
.flexbox {display: flex; box-sizing: border-box; flex-wrap: wrap;}
.aaa{background-color: #000000; width: 50px; height:  50px; border: 2px solid black;}
.aab{background-color: #000030; width: 50px; height:  50px; border: 2px solid black;}
.aac{background-color: #000070; width: 50px; height:  50px; border: 2px solid black;}
.aad{background-color: #0000B0; width: 50px; height:  50px; border: 2px solid black;}
.aae{background-color: #0000F0; width: 50px; height:  50px; border: 2px solid black;}
.aba{background-color: #003000; width: 50px; height:  50px; border: 2px solid black;}
.abb{background-color: #003030; width: 50px; height:  50px; border: 2px solid black;}
.abc{background-color: #003070; width: 50px; height:  50px; border: 2px solid black;}
.abd{background-color: #0030B0; width: 50px; height:  50px; border: 2px solid black;}
.abe{background-color: #0030F0; width: 50px; height:  50px; border: 2px solid black;}
.aca{background-color: #007000; width: 50px; height:  50px; border: 2px solid black;}
.acb{background-color: #007030; width: 50px; height:  50px; border: 2px solid black;}
.acc{background-color: #007070; width: 50px; height:  50px; border: 2px solid black;}
.acd{background-color: #0070B0; width: 50px; height:  50px; border: 2px solid black;}
.ace{background-color: #0070F0; width: 50px; height:  50px; border: 2px solid black;}
.ada{background-color: #00B000; width: 50px; height:  50px; border: 2px solid black;}
.adb{background-color: #00B030; width: 50px; height:  50px; border: 2px solid black;}
.adc{background-color: #00B070; width: 50px; height:  50px; border: 2px solid black;}
.add{background-color: #00B0B0; width: 50px; height:  50px; border: 2px solid black;}
.ade{background-color: #00B0F0; width: 50px; height:  50px; border: 2px solid black;}
.aea{background-color: #00F000; width: 50px; height:  50px; border: 2px solid black;}
.aeb{background-color: #00F030; width: 50px; height:  50px; border: 2px solid black;}
.aec{background-color: #00F070; width: 50px; height:  50px; border: 2px solid black;}
.aed{background-color: #00F0B0; width: 50px; height:  50px; border: 2px solid black;}
.aee{background-color: #00F0F0; width: 50px; height:  50px; border: 2px solid black;}
.baa{background-color: #300000; width: 50px; height:  50px; border: 2px solid black;}
.bab{background-color: #300030; width: 50px; height:  50px; border: 2px solid black;}
.bac{background-color: #300070; width: 50px; height:  50px; border: 2px solid black;}
.bad{background-color: #3000B0; width: 50px; height:  50px; border: 2px solid black;}
.bae{background-color: #3000F0; width: 50px; height:  50px; border: 2px solid black;}
.bba{background-color: #303000; width: 50px; height:  50px; border: 2px solid black;}
.bbb{background-color: #303030; width: 50px; height:  50px; border: 2px solid black;}
.bbc{background-color: #303070; width: 50px; height:  50px; border: 2px solid black;}
.bbd{background-color: #3030B0; width: 50px; height:  50px; border: 2px solid black;}
.bbe{background-color: #3030F0; width: 50px; height:  50px; border: 2px solid black;}
.bca{background-color: #307000; width: 50px; height:  50px; border: 2px solid black;}
.bcb{background-color: #307030; width: 50px; height:  50px; border: 2px solid black;}
.bcc{background-color: #307070; width: 50px; height:  50px; border: 2px solid black;}
.bcd{background-color: #3070B0; width: 50px; height:  50px; border: 2px solid black;}
.bce{background-color: #3070F0; width: 50px; height:  50px; border: 2px solid black;}
.bda{background-color: #30B000; width: 50px; height:  50px; border: 2px solid black;}
.bdb{background-color: #30B030; width: 50px; height:  50px; border: 2px solid black;}
.bdc{background-color: #30B070; width: 50px; height:  50px; border: 2px solid black;}
.bdd{background-color: #30B0B0; width: 50px; height:  50px; border: 2px solid black;}
.bde{background-color: #30B0F0; width: 50px; height:  50px; border: 2px solid black;}
.bea{background-color: #30F000; width: 50px; height:  50px; border: 2px solid black;}
.beb{background-color: #30F030; width: 50px; height:  50px; border: 2px solid black;}
.bec{background-color: #30F070; width: 50px; height:  50px; border: 2px solid black;}
.bed{background-color: #30F0B0; width: 50px; height:  50px; border: 2px solid black;}
.bee{background-color: #30F0F0; width: 50px; height:  50px; border: 2px solid black;}
.caa{background-color: #700000; width: 50px; height:  50px; border: 2px solid black;}
.cab{background-color: #700030; width: 50px; height:  50px; border: 2px solid black;}
.cac{background-color: #700070; width: 50px; height:  50px; border: 2px solid black;}
.cad{background-color: #7000B0; width: 50px; height:  50px; border: 2px solid black;}
.cae{background-color: #7000F0; width: 50px; height:  50px; border: 2px solid black;}
.cba{background-color: #703000; width: 50px; height:  50px; border: 2px solid black;}
.cbb{background-color: #703030; width: 50px; height:  50px; border: 2px solid black;}
.cbc{background-color: #703070; width: 50px; height:  50px; border: 2px solid black;}
.cbd{background-color: #7030B0; width: 50px; height:  50px; border: 2px solid black;}
.cbe{background-color: #7030F0; width: 50px; height:  50px; border: 2px solid black;}
.cca{background-color: #707000; width: 50px; height:  50px; border: 2px solid black;}
.ccb{background-color: #707030; width: 50px; height:  50px; border: 2px solid black;}
.ccc{background-color: #707070; width: 50px; height:  50px; border: 2px solid black;}
.ccd{background-color: #7070B0; width: 50px; height:  50px; border: 2px solid black;}
.cce{background-color: #7070F0; width: 50px; height:  50px; border: 2px solid black;}
.cda{background-color: #70B000; width: 50px; height:  50px; border: 2px solid black;}
.cdb{background-color: #70B030; width: 50px; height:  50px; border: 2px solid black;}
.cdc{background-color: #70B070; width: 50px; height:  50px; border: 2px solid black;}
.cdd{background-color: #70B0B0; width: 50px; height:  50px; border: 2px solid black;}
.cde{background-color: #70B0F0; width: 50px; height:  50px; border: 2px solid black;}
.cea{background-color: #70F000; width: 50px; height:  50px; border: 2px solid black;}
.ceb{background-color: #70F030; width: 50px; height:  50px; border: 2px solid black;}
.cec{background-color: #70F070; width: 50px; height:  50px; border: 2px solid black;}
.ced{background-color: #70F0B0; width: 50px; height:  50px; border: 2px solid black;}
.cee{background-color: #70F0F0; width: 50px; height:  50px; border: 2px solid black;}
.daa{background-color: #B00000; width: 50px; height:  50px; border: 2px solid black;}
.dab{background-color: #B00030; width: 50px; height:  50px; border: 2px solid black;}
.dac{background-color: #B00070; width: 50px; height:  50px; border: 2px solid black;}
.dad{background-color: #B000B0; width: 50px; height:  50px; border: 2px solid black;}
.dae{background-color: #B000F0; width: 50px; height:  50px; border: 2px solid black;}
.dba{background-color: #B03000; width: 50px; height:  50px; border: 2px solid black;}
.dbb{background-color: #B03030; width: 50px; height:  50px; border: 2px solid black;}
.dbc{background-color: #B03070; width: 50px; height:  50px; border: 2px solid black;}
.dbd{background-color: #B030B0; width: 50px; height:  50px; border: 2px solid black;}
.dbe{background-color: #B030F0; width: 50px; height:  50px; border: 2px solid black;}
.dca{background-color: #B07000; width: 50px; height:  50px; border: 2px solid black;}
.dcb{background-color: #B07030; width: 50px; height:  50px; border: 2px solid black;}
.dcc{background-color: #B07070; width: 50px; height:  50px; border: 2px solid black;}
.dcd{background-color: #B070B0; width: 50px; height:  50px; border: 2px solid black;}
.dce{background-color: #B070F0; width: 50px; height:  50px; border: 2px solid black;}
.dda{background-color: #B0B000; width: 50px; height:  50px; border: 2px solid black;}
.ddb{background-color: #B0B030; width: 50px; height:  50px; border: 2px solid black;}
.ddc{background-color: #B0B070; width: 50px; height:  50px; border: 2px solid black;}
.ddd{background-color: #B0B0B0; width: 50px; height:  50px; border: 2px solid black;}
.dde{background-color: #B0B0F0; width: 50px; height:  50px; border: 2px solid black;}
.dea{background-color: #B0F000; width: 50px; height:  50px; border: 2px solid black;}
.deb{background-color: #B0F030; width: 50px; height:  50px; border: 2px solid black;}
.dec{background-color: #B0F070; width: 50px; height:  50px; border: 2px solid black;}
.ded{background-color: #B0F0B0; width: 50px; height:  50px; border: 2px solid black;}
.dee{background-color: #B0F0F0; width: 50px; height:  50px; border: 2px solid black;}
.eaa{background-color: #F00000; width: 50px; height:  50px; border: 2px solid black;}
.eab{background-color: #F00030; width: 50px; height:  50px; border: 2px solid black;}
.eac{background-color: #F00070; width: 50px; height:  50px; border: 2px solid black;}
.ead{background-color: #F000B0; width: 50px; height:  50px; border: 2px solid black;}
.eae{background-color: #F000F0; width: 50px; height:  50px; border: 2px solid black;}
.eba{background-color: #F03000; width: 50px; height:  50px; border: 2px solid black;}
.ebb{background-color: #F03030; width: 50px; height:  50px; border: 2px solid black;}
.ebc{background-color: #F03070; width: 50px; height:  50px; border: 2px solid black;}
.ebd{background-color: #F030B0; width: 50px; height:  50px; border: 2px solid black;}
.ebe{background-color: #F030F0; width: 50px; height:  50px; border: 2px solid black;}
.eca{background-color: #F07000; width: 50px; height:  50px; border: 2px solid black;}
.ecb{background-color: #F07030; width: 50px; height:  50px; border: 2px solid black;}
.ecc{background-color: #F07070; width: 50px; height:  50px; border: 2px solid black;}
.ecd{background-color: #F070B0; width: 50px; height:  50px; border: 2px solid black;}
.ece{background-color: #F070F0; width: 50px; height:  50px; border: 2px solid black;}
.eda{background-color: #F0B000; width: 50px; height:  50px; border: 2px solid black;}
.edb{background-color: #F0B030; width: 50px; height:  50px; border: 2px solid black;}
.edc{background-color: #F0B070; width: 50px; height:  50px; border: 2px solid black;}
.edd{background-color: #F0B0B0; width: 50px; height:  50px; border: 2px solid black;}
.ede{background-color: #F0B0F0; width: 50px; height:  50px; border: 2px solid black;}
.eea{background-color: #F0F000; width: 50px; height:  50px; border: 2px solid black;}
.eeb{background-color: #F0F030; width: 50px; height:  50px; border: 2px solid black;}
.eec{background-color: #F0F070; width: 50px; height:  50px; border: 2px solid black;}
.eed{background-color: #F0F0B0; width: 50px; height:  50px; border: 2px solid black;}
.eee{background-color: #F0F0F0; width: 50px; height:  50px; border: 2px solid black;}
