@charset "utf-8";
	.x32__00000008135295875558341230000008387031398405836204_
{
	background : #FFCC33;
	background : rgba(255, 204, 51, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
}
.x33_
{
	background : #339999;
	background : rgba(51, 153, 153, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
}
.x31_
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
}
.x34_
{
	background : #990033;
	background : rgba(153, 0, 51, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
}
.x35_
{
	background : #333333;
	background : rgba(51, 51, 51, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
}
