html {
  width: 100%;
  height: 100%;
  background-color: #161616;
  color: whitesmoke;
}

.navbar {
  box-sizing: border-box;
  height: 100vh;
  position: fixed;
  display: flex;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  border-right: 5px solid #666;
  border-left: 5px solid #333;
  text-indent: 10px;
}

.navbar a {
  font-family: "Belanosima", sans-serif;
  font-weight: normal;
  font-size: 30pt;
  width: 100%;
  border-top: 5px solid #666;
  border-bottom: 5px solid #666;
  background-color: #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #333;
}
.navbar a:hover {
  color: #fff;
  background-color: #000;
  text-decoration: underline 3px dotted #ccc;
}

.navbar .flex-col {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.flex-wrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1;
  gap: 10px;
}
.navcol {
  grid-column-start: 1;
  grid-column-end: 2;
  min-width: 200px;
  background-color: #999;
}
.gridcol {
  grid-column-start: 3;
  grid-column-end: 9;
}
.flex-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  right: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

div span {
  display: flex;
  flex-direction: row;
}

.primary {
  grid-row: span 2;
  grid-column: span 2;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h2 {
  font-family: "Belanosima", sans-serif;
  font-weight: normal;
  font-size: 6vw;
  margin-top: 9rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  grid-column: span 6;
}
h1 {
  grid-column: span 6;
  font-family: "Belanosima", sans-serif;
  font-weight: normal;
  font-size: 8vw;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.pop p {
  font-family: "Cabin Condensed", sans-serif;
  font-size: 18pt;
}
.pop kbd {
  font-family: "Consolas", "Courier", "Courier New", monospace;
  background-color: rgba(204, 204, 204, 75%);
  border: 1px solid rgba(51, 51, 51, 50%);
  border-radius: 3px;
}
.intro {
  grid-column: span 6;
  font-family: "Cabin Condensed", sans-serif;
  font-size: 2rem;
  box-sizing:border-box;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
}
.introbutton {
  display: inline-flexbox;
  justify-content: space-around;
  align-content: space-around;
  box-sizing: border-box;
  justify-self: flex-end;
  margin: auto;
  width: 300px;
  height: 100px;
  color: #333;
  background-color: #fff;
  font-family: "Belanosima", sans-serif;
  font-weight: normal;
  font-size: 30pt;
}
.popper table {
  text-align: left;
  padding: 0 10px;
}

th {
  margin-left: 5px;
}

.huebox {
  border: 2px outset rgba(120, 120, 120, 0.25);
  box-sizing: border-box;
  height: 150px;
  text-align: center;
  width: 150px;
  margin: 10px auto;
  margin-bottom: 2.5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.frame {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 240px;
  align-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 25%);
  border: 2px outset rgba(120, 120, 120, 25%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: whitesmoke;
}

.frame.primary {
  width: auto;
  height: auto;
}
.popper button {
  display: inline-flexbox;
  justify-content: space-around;
  align-content: space-around;
  box-sizing: border-box;
  justify-self: flex-end;
  margin: auto;
  width: 150px;
  height: 45px;
  color: #333;
  background-color: #ccc;
  font-family: "Cabin Condensed", sans-serif;
  font-weight: normal;
  font-size: 16pt;
}

.frame.primary .huebox {
  height: 50%;
  aspect-ratio: 1 / 1;
  width: auto;
  margin: auto;
  flex-shrink: 2;
}

.popper {
  font-family: "Cabin Condensed", sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  visibility: collapse;
  color: rgba(250, 250, 250, 1%);
  padding: 0;
  margin: 0;
}
.popper table.colordata,
.popper th,
.popper td {
  border: 3px solid black;
  display: flex grid;
  border-collapse: collapse;
  text-align: center;
  padding: 10px 20px;
  margin: auto;
}
th {
  padding: 10px;
}
.popper .huebox,
.popper .primary {
  display: flex;
  height: 50%;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  width: auto;
  margin: auto;
}
.popper:popover-open {
  color: rgba(16, 16, 16, 90%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  visibility: visible;
  margin: auto;
  width: 50%;
  height: 50%;
  font-size: 24pt;
  transition-duration: 0.3s;
  transition-delay: 0.05s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

@media screen and (max-width: 600px) {
  h1,
  h2 {
    font-size: 3rem;
  }
}
.uuu {
  background-color: #000000 !important;
}
.vvv {
  background-color: #333333 !important;
}
.www {
  background-color: #666666 !important;
}
.xxx {
  background-color: #999999 !important;
}
.yyy {
  background-color: #cccccc !important;
}
.zzz {
  background-color: #ffffff !important;
}
.vuu {
  background-color: #330000 !important;
}
.wuu {
  background-color: #660000 !important;
}
.xuu {
  background-color: #990000 !important;
}
.yuu {
  background-color: #cc0000 !important;
}
.zuu {
  background-color: #ff0000 !important;
}
.zvv {
  background-color: #ff3333 !important;
}
.zww {
  background-color: #ff6666 !important;
}
.zxx {
  background-color: #ff9999 !important;
}
.zyy {
  background-color: #ffcccc !important;
}
.yvv {
  background-color: #cc3333 !important;
}
.yww {
  background-color: #cc6666 !important;
}
.xvv {
  background-color: #993333 !important;
}
.yxx {
  background-color: #cc9999 !important;
}
.wvv {
  background-color: #663333 !important;
}
.xww {
  background-color: #996666 !important;
}
.zvu {
  background-color: #ff3300 !important;
}
.yvu {
  background-color: #cc3300 !important;
}
.zwv {
  background-color: #ff6633 !important;
}
.zxw {
  background-color: #ff9966 !important;
}
.ywv {
  background-color: #cc6633 !important;
}
.xvu {
  background-color: #993300 !important;
}
.zwu {
  background-color: #ff6600 !important;
}
.yxw {
  background-color: #cc9966 !important;
}
.zxv {
  background-color: #ff9933 !important;
}
.wvu {
  background-color: #663300 !important;
}
.ywu {
  background-color: #cc6600 !important;
}
.zyx {
  background-color: #ffcc99 !important;
}
.xwv {
  background-color: #996633 !important;
}
.zxu {
  background-color: #ff9900 !important;
}
.yxv {
  background-color: #cc9933 !important;
}
.xwu {
  background-color: #996600 !important;
}
.zyw {
  background-color: #ffcc66 !important;
}
.yxu {
  background-color: #cc9900 !important;
}
.zyv {
  background-color: #ffcc33 !important;
}
.zyu {
  background-color: #ffcc00 !important;
}
.vvu {
  background-color: #333300 !important;
}
.wwu {
  background-color: #666600 !important;
}
.xxu {
  background-color: #999900 !important;
}
.yyu {
  background-color: #cccc00 !important;
}
.zzu {
  background-color: #ffff00 !important;
}
.zzv {
  background-color: #ffff33 !important;
}
.zzw {
  background-color: #ffff66 !important;
}
.zzx {
  background-color: #ffff99 !important;
}
.zzy {
  background-color: #ffffcc !important;
}
.yyv {
  background-color: #cccc33 !important;
}
.yyw {
  background-color: #cccc66 !important;
}
.xxv {
  background-color: #999933 !important;
}
.yyx {
  background-color: #cccc99 !important;
}
.wwv {
  background-color: #666633 !important;
}
.xxw {
  background-color: #999966 !important;
}
.yzu {
  background-color: #ccff00 !important;
}
.xyu {
  background-color: #99cc00 !important;
}
.yzv {
  background-color: #ccff33 !important;
}
.wxu {
  background-color: #669900 !important;
}
.yzw {
  background-color: #ccff66 !important;
}
.xyv {
  background-color: #99cc33 !important;
}
.xzu {
  background-color: #99ff00 !important;
}
.vwu {
  background-color: #336600 !important;
}
.wyu {
  background-color: #66cc00 !important;
}
.xzv {
  background-color: #99ff33 !important;
}
.yzx {
  background-color: #ccff99 !important;
}
.xyw {
  background-color: #99cc66 !important;
}
.wxv {
  background-color: #669933 !important;
}
.wzu {
  background-color: #66ff00 !important;
}
.vxu {
  background-color: #339900 !important;
}
.xzw {
  background-color: #99ff66 !important;
}
.wyv {
  background-color: #66cc33 !important;
}
.vyu {
  background-color: #33cc00 !important;
}
.wzv {
  background-color: #66ff33 !important;
}
.vzu {
  background-color: #33ff00 !important;
}
.uvu {
  background-color: #003300 !important;
}
.uwu {
  background-color: #006600 !important;
}
.uxu {
  background-color: #009900 !important;
}
.uyu {
  background-color: #00cc00 !important;
}
.uzu {
  background-color: #00ff00 !important;
}
.vzv {
  background-color: #33ff33 !important;
}
.wzw {
  background-color: #66ff66 !important;
}
.xzx {
  background-color: #99ff99 !important;
}
.yzy {
  background-color: #ccffcc !important;
}
.vyv {
  background-color: #33cc33 !important;
}
.wyw {
  background-color: #66cc66 !important;
}
.vxv {
  background-color: #339933 !important;
}
.xyx {
  background-color: #99cc99 !important;
}
.vwv {
  background-color: #336633 !important;
}
.wxw {
  background-color: #669966 !important;
}
.uzv {
  background-color: #00ff33 !important;
}
.uyv {
  background-color: #00cc33 !important;
}
.vzw {
  background-color: #33ff66 !important;
}
.wzx {
  background-color: #66ff99 !important;
}
.uxv {
  background-color: #009933 !important;
}
.vyw {
  background-color: #33cc66 !important;
}
.uzw {
  background-color: #00ff66 !important;
}
.uwv {
  background-color: #006633 !important;
}
.uyw {
  background-color: #00cc66 !important;
}
.vzx {
  background-color: #33ff99 !important;
}
.xzy {
  background-color: #99ffcc !important;
}
.wyx {
  background-color: #66cc99 !important;
}
.vxw {
  background-color: #339966 !important;
}
.uzx {
  background-color: #00ff99 !important;
}
.vyx {
  background-color: #33cc99 !important;
}
.uxw {
  background-color: #009966 !important;
}
.wzy {
  background-color: #66ffcc !important;
}
.uyx {
  background-color: #00cc99 !important;
}
.vzy {
  background-color: #33ffcc !important;
}
.uzy {
  background-color: #00ffcc !important;
}
.uvv {
  background-color: #003333 !important;
}
.uww {
  background-color: #006666 !important;
}
.uxx {
  background-color: #009999 !important;
}
.uyy {
  background-color: #00cccc !important;
}
.uzz {
  background-color: #00ffff !important;
}
.vzz {
  background-color: #33ffff !important;
}
.wzz {
  background-color: #66ffff !important;
}
.xzz {
  background-color: #99ffff !important;
}
.yzz {
  background-color: #ccffff !important;
}
.vyy {
  background-color: #33cccc !important;
}
.wyy {
  background-color: #66cccc !important;
}
.vxx {
  background-color: #339999 !important;
}
.xyy {
  background-color: #99cccc !important;
}
.vww {
  background-color: #336666 !important;
}
.wxx {
  background-color: #669999 !important;
}
.uyz {
  background-color: #00ccff !important;
}
.uxy {
  background-color: #0099cc !important;
}
.vyz {
  background-color: #33ccff !important;
}
.uwx {
  background-color: #006699 !important;
}
.wyz {
  background-color: #66ccff !important;
}
.vxy {
  background-color: #3399cc !important;
}
.uxz {
  background-color: #0099ff !important;
}
.uvw {
  background-color: #003366 !important;
}
.uwy {
  background-color: #0066cc !important;
}
.vxz {
  background-color: #3399ff !important;
}
.xyz {
  background-color: #99ccff !important;
}
.wxy {
  background-color: #6699cc !important;
}
.vwx {
  background-color: #336699 !important;
}
.uwz {
  background-color: #0066ff !important;
}
.uvx {
  background-color: #003399 !important;
}
.vwy {
  background-color: #3366cc !important;
}
.wxz {
  background-color: #6699ff !important;
}
.uvy {
  background-color: #0033cc !important;
}
.vwz {
  background-color: #3366ff !important;
}
.uvz {
  background-color: #0033ff !important;
}
.uuv {
  background-color: #000033 !important;
}
.uuw {
  background-color: #000066 !important;
}
.uux {
  background-color: #000099 !important;
}
.uuy {
  background-color: #0000cc !important;
}
.uuz {
  background-color: #0000ff !important;
}
.vvz {
  background-color: #3333ff !important;
}
.wwz {
  background-color: #6666ff !important;
}
.xxz {
  background-color: #9999ff !important;
}
.yyz {
  background-color: #ccccff !important;
}
.vvy {
  background-color: #3333cc !important;
}
.wwy {
  background-color: #6666cc !important;
}
.vvx {
  background-color: #333399 !important;
}
.xxy {
  background-color: #9999cc !important;
}
.vvw {
  background-color: #333366 !important;
}
.wwx {
  background-color: #666699 !important;
}
.vuz {
  background-color: #3300ff !important;
}
.vuy {
  background-color: #3300cc !important;
}
.wvz {
  background-color: #6633ff !important;
}
.vux {
  background-color: #330099 !important;
}
.xwz {
  background-color: #9966ff !important;
}
.wvy {
  background-color: #6633cc !important;
}
.wuz {
  background-color: #6600ff !important;
}
.vuw {
  background-color: #330066 !important;
}
.wuy {
  background-color: #6600cc !important;
}
.xvz {
  background-color: #9933ff !important;
}
.yxz {
  background-color: #cc99ff !important;
}
.xwy {
  background-color: #9966cc !important;
}
.wvx {
  background-color: #663399 !important;
}
.xuz {
  background-color: #9900ff !important;
}
.xvy {
  background-color: #9933cc !important;
}
.wux {
  background-color: #660099 !important;
}
.ywz {
  background-color: #cc66ff !important;
}
.xuy {
  background-color: #9900cc !important;
}
.yvz {
  background-color: #cc33ff !important;
}
.yuz {
  background-color: #cc00ff !important;
}
.vuv {
  background-color: #330033 !important;
}
.wuw {
  background-color: #660066 !important;
}
.xux {
  background-color: #990099 !important;
}
.yuy {
  background-color: #cc00cc !important;
}
.zuz {
  background-color: #ff00ff !important;
}
.zvz {
  background-color: #ff33ff !important;
}
.zwz {
  background-color: #ff66ff !important;
}
.zxz {
  background-color: #ff99ff !important;
}
.zyz {
  background-color: #ffccff !important;
}
.yvy {
  background-color: #cc33cc !important;
}
.ywy {
  background-color: #cc66cc !important;
}
.xvx {
  background-color: #993399 !important;
}
.yxy {
  background-color: #cc99cc !important;
}
.wvw {
  background-color: #663366 !important;
}
.xwx {
  background-color: #996699 !important;
}
.zuy {
  background-color: #ff00cc !important;
}
.yux {
  background-color: #cc0099 !important;
}
.zvy {
  background-color: #ff33cc !important;
}
.xuw {
  background-color: #990066 !important;
}
.zwy {
  background-color: #ff66cc !important;
}
.yvx {
  background-color: #cc3399 !important;
}
.zux {
  background-color: #ff0099 !important;
}
.wuv {
  background-color: #660033 !important;
}
.yuw {
  background-color: #cc0066 !important;
}
.zvx {
  background-color: #ff3399 !important;
}
.zxy {
  background-color: #ff99cc !important;
}
.ywx {
  background-color: #cc6699 !important;
}
.xvw {
  background-color: #993366 !important;
}
.zuw {
  background-color: #ff0066 !important;
}
.xuv {
  background-color: #990033 !important;
}
.zwx {
  background-color: #ff6699 !important;
}
.yvw {
  background-color: #cc3366 !important;
}
.yuv {
  background-color: #cc0033 !important;
}
.zvw {
  background-color: #ff3366 !important;
}
.zuv {
  background-color: #ff0033 !important;
}
