html {
  width: 100%;
  height: 100%;
  background-color: #161616;
  color: whitesmoke;
}

.navbar {
  box-sizing: border-box;
  height: 100vh;
  position: fixed;
  display: flex;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  border-right: 5px solid #666;
  border-left: 5px solid #333;
  text-indent: 10px;
}

.navbar a {
  font-family: "Belanosima", sans-serif;
  font-weight: normal;
  font-size: 30pt;
  width: 100%;
  border-top: 5px solid #666;
  border-bottom: 5px solid #666;
  background-color: #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #333;
}
.navbar a:hover {
  color: #fff;
  background-color: #000;
  text-decoration: underline 3px dotted #ccc;
}

.navbar .flex-col {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.flex-wrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1;
  gap: 10px;
}
.navcol {
  grid-column-start: 1;
  grid-column-end: 2;
  min-width: 200px;
  background-color: #999;
}
.gridcol {
  grid-column-start: 3;
  grid-column-end: 9;
}
.flex-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  right: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

div span {
  display: flex;
  flex-direction: row;
}

.primary {
  grid-row: span 2;
  grid-column: span 2;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h2 {
  font-family: "Belanosima", sans-serif;
  font-weight: normal;
  font-size: 8vw;
  margin-top: 9rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  grid-column: span 6;
}

table {
  text-align: left;
  padding: 0 10px;
}

th {
  margin-left: 5px;
}

.huebox {
  border: 2px outset rgba(120, 120, 120, 0.25);
  height: 150px;
  text-align: center;
  width: 150px;
  margin: 10px auto;
  margin-bottom: 2.5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.frame {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 240px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 25%);
  border: 2px outset rgba(120, 120, 120, 25%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: whitesmoke;
}

.frame.primary {
  width: auto;
  height: auto;
}
button {
    display: flex;
    position: relative;
    bottom: 0px;
  width: 100%;
  height: 25%;
  color: white;
  padding-bottom: 0;
  padding-top: 80%;
  text-shadow: 5px 2px 3px black;
  background-color: rgba(0, 0, 0, 25%));
  font-family: "Cabin Condensed", sans-serif;
  font-weight: bold;
}

.frame.primary .huebox {
  height: 75%;
  width: 75%;
  margin: auto;
}

.popper {
  font-family: "Cabin Condensed", sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  visibility: collapse;
  color: rgba(250, 250, 250, 1%);
  padding: 0;
  margin: 0;
}

.popper:popover-open {
  color: rgba(16, 16, 16, 90%);
  visibility: visible;
  margin: auto;
  width: auto;
  font-size: 13pt;
  transition-duration: 0.3s;
  transition-delay: 0.05s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 8vh;
  }
}
