root {
  --offset: 100px;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

.navbar {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 5px solid #666;
  border-left: 5px solid #333;
  text-indent: 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.pseudo-button {
  width: 100%;
  height: 100%;
}

.navbar a {
  font-family: "Belanosima", sans-serif;
  font-weight: normal;
  font-size: 30pt;
  width: 100%;
  height: 100%;
  border-top: 5px solid #666;
  border-bottom: 5px solid #666;
  background-color: #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #333;
}
.navbar a:hover {
  color: #fff;
  background-color: #000;
  text-decoration: underline 3px dotted #ccc;
}

.flex-wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
}
.navcol {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 100%;
  background-color: #999;
}
.gridcol {
  display: grid;
  grid-template-columns: subgrid;
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
  gap: 20px;
  right: 0;
  margin: 0;
}
.button-col {
  grid-column-start: 9;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 1;
}
.rocket {
  margin-top: calc(100vh + var(--offset));
  position: sticky;
  place-self: end;
  right: 20px;
  bottom: 20px;
  width: 80px;
  height: 80px;
  background-color: #fff;
  color: #333;
  background-image: url(rocket.svg);
  border-radius: 50px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}
.primary {
  grid-row: span 2;
  grid-column: span 2;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h2 {
  font-family: "Belanosima", sans-serif;
  font-weight: normal;
  font-size: 6vw;
  margin-top: 9rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  grid-column: span 6;
}
h1 {
  grid-column: span 6;
  font-family: "Belanosima", sans-serif;
  font-weight: normal;
  font-size: 8vw;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.intro p {
  font-family: "Cabin Condensed", sans-serif;
  display: inline;
  font-size: 18pt;
  text-align: left;
}
.intro kbd {
  font-family: "Consolas", "Courier", "Courier New", monospace;
  background-color: #ccc;
  color: #333;
  border: 1px solid rgba(51, 51, 51, 50%);
  border-radius: 3px;
}
.intro {
  grid-column: span 6;
  font-family: "Cabin Condensed", sans-serif;
  font-size: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.popper table {
  text-align: left;
  padding: 0 10px;
}

th {
  margin-left: 5px;
}

.huebox {
  border: 2px outset rgba(120, 120, 120, 0.25);
  box-sizing: border-box;
  height: 150px;
  text-align: center;
  width: 150px;
  margin: 10px auto 20px auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.frame {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 240px;
  align-content: space-evenly;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 25%);
  border: 2px outset rgba(120, 120, 120, 25%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: whitesmoke;
}

.frame.primary {
  width: auto;
  height: auto;
}
button {
  display: block;
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  background-color: #333;
  color: #ccc;
  font-family: "Cabin Condensed", sans-serif;
  font-weight: normal;
  font-size: 16pt;
}

.frame.primary .huebox {
  height: 70%;
  aspect-ratio: 1 / 1;
  width: auto;
  margin-top: 15px;
  margin-bottom: 50px;
}

.popper {
  font-family: "Cabin Condensed", sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  visibility: collapse;
  color: rgba(250, 250, 250, 1%);
  padding: 0;
  margin: 0;
}
.popper table.colordata,
.popper th,
.popper td {
  border: 3px solid black;
  display: flex grid;
  border-collapse: collapse;
  text-align: center;
  padding: 10px 20px;
  margin: auto;
}
th {
  padding: 10px;
}
.popper .huebox,
.popper .primary {
  display: flex;
  height: 50%;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  width: auto;
  margin: auto;
}
.popper:popover-open {
  color: rgba(16, 16, 16, 90%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  visibility: visible;
  margin: auto;
  width: 50%;
  height: 50%;
  font-size: 24pt;
  transition-duration: 0.3s;
  transition-delay: 0.05s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

@media screen and (max-width: 600px) {
  h1,
  h2 {
    font-size: 3rem;
  }
}
