@layer
color {
.vvv {background-color: #000000;}
.vvw {background-color: #000033;}
.vvx {background-color: #000066;}
.vvy {background-color: #0000cc;}
.vvz {background-color: #0000ff;}
.vwv {background-color: #003300;}
.vww {background-color: #003333;}
.vwx {background-color: #003366;}
.vwy {background-color: #0033cc;}
.vwz {background-color: #0033ff;}
.vxv {background-color: #006600;}
.vxw {background-color: #006633;}
.vxx {background-color: #006666;}
.vxy {background-color: #0066cc;}
.vxz {background-color: #0066ff;}
.vyv {background-color: #00cc00;}
.vyw {background-color: #00cc33;}
.vyx {background-color: #00cc66;}
.vyy {background-color: #00cccc;}
.vyz {background-color: #00ccff;}
.vzv {background-color: #00ff00;}
.vzw {background-color: #00ff33;}
.vzx {background-color: #00ff66;}
.vzy {background-color: #00ffcc;}
.vzz {background-color: #00ffff;}
.wvv {background-color: #330000;}
.wvw {background-color: #330033;}
.wvx {background-color: #330066;}
.wvy {background-color: #3300cc;}
.wvz {background-color: #3300ff;}
.wwv {background-color: #333300;}
.www {background-color: #333333;}
.wwx {background-color: #333366;}
.wwy {background-color: #3333cc;}
.wwz {background-color: #3333ff;}
.wxv {background-color: #336600;}
.wxw {background-color: #336633;}
.wxx {background-color: #336666;}
.wxy {background-color: #3366cc;}
.wxz {background-color: #3366ff;}
.wyv {background-color: #33cc00;}
.wyw {background-color: #33cc33;}
.wyx {background-color: #33cc66;}
.wyy {background-color: #33cccc;}
.wyz {background-color: #33ccff;}
.wzv {background-color: #33ff00;}
.wzw {background-color: #33ff33;}
.wzx {background-color: #33ff66;}
.wzy {background-color: #33ffcc;}
.wzz {background-color: #33ffff;}
.xvv {background-color: #660000;}
.xvw {background-color: #660033;}
.xvx {background-color: #660066;}
.xvy {background-color: #6600cc;}
.xvz {background-color: #6600ff;}
.xwv {background-color: #663300;}
.xww {background-color: #663333;}
.xwx {background-color: #663366;}
.xwy {background-color: #6633cc;}
.xwz {background-color: #6633ff;}
.xxv {background-color: #666600;}
.xxw {background-color: #666633;}
.xxx {background-color: #666666;}
.xxy {background-color: #6666cc;}
.xxz {background-color: #6666ff;}
.xyv {background-color: #66cc00;}
.xyw {background-color: #66cc33;}
.xyx {background-color: #66cc66;}
.xyy {background-color: #66cccc;}
.xyz {background-color: #66ccff;}
.xzv {background-color: #66ff00;}
.xzw {background-color: #66ff33;}
.xzx {background-color: #66ff66;}
.xzy {background-color: #66ffcc;}
.xzz {background-color: #66ffff;}
.yvv {background-color: #cc0000;}
.yvw {background-color: #cc0033;}
.yvx {background-color: #cc0066;}
.yvy {background-color: #cc00cc;}
.yvz {background-color: #cc00ff;}
.ywv {background-color: #cc3300;}
.yww {background-color: #cc3333;}
.ywx {background-color: #cc3366;}
.ywy {background-color: #cc33cc;}
.ywz {background-color: #cc33ff;}
.yxv {background-color: #cc6600;}
.yxw {background-color: #cc6633;}
.yxx {background-color: #cc6666;}
.yxy {background-color: #cc66cc;}
.yxz {background-color: #cc66ff;}
.yyv {background-color: #cccc00;}
.yyw {background-color: #cccc33;}
.yyx {background-color: #cccc66;}
.yyy {background-color: #cccccc;}
.yyz {background-color: #ccccff;}
.yzv {background-color: #ccff00;}
.yzw {background-color: #ccff33;}
.yzx {background-color: #ccff66;}
.yzy {background-color: #ccffcc;}
.yzz {background-color: #ccffff;}
.zvv {background-color: #ff0000;}
.zvw {background-color: #ff0033;}
.zvx {background-color: #ff0066;}
.zvy {background-color: #ff00cc;}
.zvz {background-color: #ff00ff;}
.zwv {background-color: #ff3300;}
.zww {background-color: #ff3333;}
.zwx {background-color: #ff3366;}
.zwy {background-color: #ff33cc;}
.zwz {background-color: #ff33ff;}
.zxv {background-color: #ff6600;}
.zxw {background-color: #ff6633;}
.zxx {background-color: #ff6666;}
.zxy {background-color: #ff66cc;}
.zxz {background-color: #ff66ff;}
.zyv {background-color: #ffcc00;}
.zyw {background-color: #ffcc33;}
.zyx {background-color: #ffcc66;}
.zyy {background-color: #ffcccc;}
.zyz {background-color: #ffccff;}
.zzv {background-color: #ffff00;}
.zzw {background-color: #ffff33;}
.zzx {background-color: #ffff66;}
.zzy {background-color: #ffffcc;}
.zzz {background-color: #ffffff;}

.vvv p {visibility: hidden;}
.vvw p {visibility: hidden;}
.vvx p {visibility: hidden;}
.vvy p {visibility: hidden;}
.vvz p {visibility: hidden;}
.vwv p {visibility: hidden;}
.vww p {visibility: hidden;}
.vwx p {visibility: hidden;}
.vwy p {visibility: hidden;}
.vwz p {visibility: hidden;}
.vxv p {visibility: hidden;}
.vxw p {visibility: hidden;}
.vxx p {visibility: hidden;}
.vxy p {visibility: hidden;}
.vxz p {visibility: hidden;}
.vyv p {visibility: hidden;}
.vyw p {visibility: hidden;}
.vyx p {visibility: hidden;}
.vyy p {visibility: hidden;}
.vyz p {visibility: hidden;}
.vzv p {visibility: hidden;}
.vzw p {visibility: hidden;}
.vzx p {visibility: hidden;}
.vzy p {visibility: hidden;}
.vzz p {visibility: hidden;}
.wvv p {visibility: hidden;}
.wvw p {visibility: hidden;}
.wvx p {visibility: hidden;}
.wvy p {visibility: hidden;}
.wvz p {visibility: hidden;}
.wwv p {visibility: hidden;}
.www p {visibility: hidden;}
.wwx p {visibility: hidden;}
.wwy p {visibility: hidden;}
.wwz p {visibility: hidden;}
.wxv p {visibility: hidden;}
.wxw p {visibility: hidden;}
.wxx p {visibility: hidden;}
.wxy p {visibility: hidden;}
.wxz p {visibility: hidden;}
.wyv p {visibility: hidden;}
.wyw p {visibility: hidden;}
.wyx p {visibility: hidden;}
.wyy p {visibility: hidden;}
.wyz p {visibility: hidden;}
.wzv p {visibility: hidden;}
.wzw p {visibility: hidden;}
.wzx p {visibility: hidden;}
.wzy p {visibility: hidden;}
.wzz p {visibility: hidden;}
.xvv p {visibility: hidden;}
.xvw p {visibility: hidden;}
.xvx p {visibility: hidden;}
.xvy p {visibility: hidden;}
.xvz p {visibility: hidden;}
.xwv p {visibility: hidden;}
.xww p {visibility: hidden;}
.xwx p {visibility: hidden;}
.xwy p {visibility: hidden;}
.xwz p {visibility: hidden;}
.xxv p {visibility: hidden;}
.xxw p {visibility: hidden;}
.xxx p {visibility: hidden;}
.xxy p {visibility: hidden;}
.xxz p {visibility: hidden;}
.xyv p {visibility: hidden;}
.xyw p {visibility: hidden;}
.xyx p {visibility: hidden;}
.xyy p {visibility: hidden;}
.xyz p {visibility: hidden;}
.xzv p {visibility: hidden;}
.xzw p {visibility: hidden;}
.xzx p {visibility: hidden;}
.xzy p {visibility: hidden;}
.xzz p {visibility: hidden;}
.yvv p {visibility: hidden;}
.yvw p {visibility: hidden;}
.yvx p {visibility: hidden;}
.yvy p {visibility: hidden;}
.yvz p {visibility: hidden;}
.ywv p {visibility: hidden;}
.yww p {visibility: hidden;}
.ywx p {visibility: hidden;}
.ywy p {visibility: hidden;}
.ywz p {visibility: hidden;}
.yxv p {visibility: hidden;}
.yxw p {visibility: hidden;}
.yxx p {visibility: hidden;}
.yxy p {visibility: hidden;}
.yxz p {visibility: hidden;}
.yyv p {visibility: hidden;}
.yyw p {visibility: hidden;}
.yyx p {visibility: hidden;}
.yyy p {visibility: hidden;}
.yyz p {visibility: hidden;}
.yzv p {visibility: hidden;}
.yzw p {visibility: hidden;}
.yzx p {visibility: hidden;}
.yzy p {visibility: hidden;}
.yzz p {visibility: hidden;}
.zvv p {visibility: hidden;}
.zvw p {visibility: hidden;}
.zvx p {visibility: hidden;}
.zvy p {visibility: hidden;}
.zvz p {visibility: hidden;}
.zwv p {visibility: hidden;}
.zww p {visibility: hidden;}
.zwx p {visibility: hidden;}
.zwy p {visibility: hidden;}
.zwz p {visibility: hidden;}
.zxv p {visibility: hidden;}
.zxw p {visibility: hidden;}
.zxx p {visibility: hidden;}
.zxy p {visibility: hidden;}
.zxz p {visibility: hidden;}
.zyv p {visibility: hidden;}
.zyw p {visibility: hidden;}
.zyx p {visibility: hidden;}
.zyy p {visibility: hidden;}
.zyz p {visibility: hidden;}
.zzv p {visibility: hidden;}
.zzw p {visibility: hidden;}
.zzx p {visibility: hidden;}
.zzy p {visibility: hidden;}
.zzz p {visibility: hidden;}

.vvv:hover p {color: whitesmoke; visibility: visible;}
.vvw:hover p {color: whitesmoke; visibility: visible;}
.vvx:hover p {color: whitesmoke; visibility: visible;}
.vvy:hover p {color: whitesmoke; visibility: visible;}
.vvz:hover p {color: whitesmoke; visibility: visible;}
.vwv:hover p {color: whitesmoke; visibility: visible;}
.vww:hover p {color: whitesmoke; visibility: visible;}
.vwx:hover p {color: whitesmoke; visibility: visible;}
.vwy:hover p {color: whitesmoke; visibility: visible;}
.vwz:hover p {color: whitesmoke; visibility: visible;}
.vxv:hover p {color: whitesmoke; visibility: visible;}
.vxw:hover p {color: whitesmoke; visibility: visible;}
.vxx:hover p {color: whitesmoke; visibility: visible;}
.vxy:hover p {color: whitesmoke; visibility: visible;}
.vxz:hover p {color: whitesmoke; visibility: visible;}
.vyv:hover p {color: whitesmoke; visibility: visible;}
.vyw:hover p {color: whitesmoke; visibility: visible;}
.vyx:hover p {color: whitesmoke; visibility: visible;}
.vyy:hover p {color: whitesmoke; visibility: visible;}
.vyz:hover p {color: whitesmoke; visibility: visible;}
.vzv:hover p {color: whitesmoke; visibility: visible;}
.vzw:hover p {color: whitesmoke; visibility: visible;}
.vzx:hover p {color: whitesmoke; visibility: visible;}
.vzy:hover p {color: whitesmoke; visibility: visible;}
.vzz:hover p {color: whitesmoke; visibility: visible;}
.wvv:hover p {color: whitesmoke; visibility: visible;}
.wvw:hover p {color: whitesmoke; visibility: visible;}
.wvx:hover p {color: whitesmoke; visibility: visible;}
.wvy:hover p {color: whitesmoke; visibility: visible;}
.wvz:hover p {color: whitesmoke; visibility: visible;}
.wwv:hover p {color: whitesmoke; visibility: visible;}
.www:hover p {color: whitesmoke; visibility: visible;}
.wwx:hover p {color: whitesmoke; visibility: visible;}
.wwy:hover p {color: whitesmoke; visibility: visible;}
.wwz:hover p {color: whitesmoke; visibility: visible;}
.wxv:hover p {color: whitesmoke; visibility: visible;}
.wxw:hover p {color: whitesmoke; visibility: visible;}
.wxx:hover p {color: whitesmoke; visibility: visible;}
.wxy:hover p {color: whitesmoke; visibility: visible;}
.wxz:hover p {color: whitesmoke; visibility: visible;}
.wyv:hover p {color: whitesmoke; visibility: visible;}
.wyw:hover p {color: whitesmoke; visibility: visible;}
.wyx:hover p {color: whitesmoke; visibility: visible;}
.wyy:hover p {color: whitesmoke; visibility: visible;}
.wyz:hover p {color: whitesmoke; visibility: visible;}
.wzv:hover p {color: whitesmoke; visibility: visible;}
.wzw:hover p {color: whitesmoke; visibility: visible;}
.wzx:hover p {color: whitesmoke; visibility: visible;}
.wzy:hover p {color: whitesmoke; visibility: visible;}
.wzz:hover p {color: whitesmoke; visibility: visible;}
.xvv:hover p {color: whitesmoke; visibility: visible;}
.xvw:hover p {color: whitesmoke; visibility: visible;}
.xvx:hover p {color: whitesmoke; visibility: visible;}
.xvy:hover p {color: whitesmoke; visibility: visible;}
.xvz:hover p {color: whitesmoke; visibility: visible;}
.xwv:hover p {color: whitesmoke; visibility: visible;}
.xww:hover p {color: whitesmoke; visibility: visible;}
.xwx:hover p {color: whitesmoke; visibility: visible;}
.xwy:hover p {color: whitesmoke; visibility: visible;}
.xwz:hover p {color: whitesmoke; visibility: visible;}
.xxv:hover p {color: whitesmoke; visibility: visible;}
.xxw:hover p {color: whitesmoke; visibility: visible;}
.xxx:hover p {color: whitesmoke; visibility: visible;}
.xxy:hover p {color: whitesmoke; visibility: visible;}
.xxz:hover p {color: whitesmoke; visibility: visible;}
.xyv:hover p {color: whitesmoke; visibility: visible;}
.xyw:hover p {color: whitesmoke; visibility: visible;}
.xyx:hover p {color: whitesmoke; visibility: visible;}
.xyy:hover p {color: whitesmoke; visibility: visible;}
.xyz:hover p {color: whitesmoke; visibility: visible;}
.xzv:hover p {color: whitesmoke; visibility: visible;}
.xzw:hover p {color: whitesmoke; visibility: visible;}
.xzx:hover p {color: whitesmoke; visibility: visible;}
.xzy:hover p {color: whitesmoke; visibility: visible;}
.xzz:hover p {color: whitesmoke; visibility: visible;}
.yvv:hover p {color: whitesmoke; visibility: visible;}
.yvw:hover p {color: whitesmoke; visibility: visible;}
.yvx:hover p {color: whitesmoke; visibility: visible;}
.yvy:hover p {color: whitesmoke; visibility: visible;}
.yvz:hover p {color: whitesmoke; visibility: visible;}
.ywv:hover p {color: whitesmoke; visibility: visible;}
.yww:hover p {color: whitesmoke; visibility: visible;}
.ywx:hover p {color: whitesmoke; visibility: visible;}
.ywy:hover p {color: whitesmoke; visibility: visible;}
.ywz:hover p {color: whitesmoke; visibility: visible;}
.yxv:hover p {color: whitesmoke; visibility: visible;}
.yxw:hover p {color: whitesmoke; visibility: visible;}
.yxx:hover p {color: whitesmoke; visibility: visible;}
.yxy:hover p {color: whitesmoke; visibility: visible;}
.yxz:hover p {color: whitesmoke; visibility: visible;}
.yyv:hover p {color: whitesmoke; visibility: visible;}
.yyw:hover p {color: whitesmoke; visibility: visible;}
.yyx:hover p {color: whitesmoke; visibility: visible;}
.yyy:hover p {color: whitesmoke; visibility: visible;}
.yyz:hover p {color: whitesmoke; visibility: visible;}
.yzv:hover p {color: whitesmoke; visibility: visible;}
.yzw:hover p {color: whitesmoke; visibility: visible;}
.yzx:hover p {color: whitesmoke; visibility: visible;}
.yzy:hover p {color: whitesmoke; visibility: visible;}
.yzz:hover p {color: whitesmoke; visibility: visible;}
.zvv:hover p {color: whitesmoke; visibility: visible;}
.zvw:hover p {color: whitesmoke; visibility: visible;}
.zvx:hover p {color: whitesmoke; visibility: visible;}
.zvy:hover p {color: whitesmoke; visibility: visible;}
.zvz:hover p {color: whitesmoke; visibility: visible;}
.zwv:hover p {color: whitesmoke; visibility: visible;}
.zww:hover p {color: whitesmoke; visibility: visible;}
.zwx:hover p {color: whitesmoke; visibility: visible;}
.zwy:hover p {color: whitesmoke; visibility: visible;}
.zwz:hover p {color: whitesmoke; visibility: visible;}
.zxv:hover p {color: whitesmoke; visibility: visible;}
.zxw:hover p {color: whitesmoke; visibility: visible;}
.zxx:hover p {color: whitesmoke; visibility: visible;}
.zxy:hover p {color: whitesmoke; visibility: visible;}
.zxz:hover p {color: whitesmoke; visibility: visible;}
.zyv:hover p {color: whitesmoke; visibility: visible;}
.zyw:hover p {color: whitesmoke; visibility: visible;}
.zyx:hover p {color: whitesmoke; visibility: visible;}
.zyy:hover p {color: whitesmoke; visibility: visible;}
.zyz:hover p {color: whitesmoke; visibility: visible;}
.zzv:hover p {color: whitesmoke; visibility: visible;}
.zzw:hover p {color: whitesmoke; visibility: visible;}
.zzx:hover p {color: whitesmoke; visibility: visible;}
.zzy:hover p {color: whitesmoke; visibility: visible;}
.zzz:hover p {color: whitesmoke; visibility: visible;}

}