.cherry3
{
  background : #CC0000;
  background : rgba(204, 0, 0, 1);
}
.rosewhite
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.cherry1
{
  background : #330000;
  background : rgba(51, 0, 0, 1);
}
.cherry2
{
  background : #660000;
  background : rgba(102, 0, 0, 1);
}
.verdant4
{
  background : #006633;
  background : rgba(0, 102, 51, 1);
}
.verdant5
{
  background : #000000;
  background : rgba(0, 0, 0, 1);
}
.mascot5
{
  background : #000000;
  background : rgba(0, 0, 0, 1);
}
.mascot1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.mascot2
{
  background : #FFCC00;
  background : rgba(255, 204, 0, 1);
}
.freeway2
{
  background : #FF9933;
  background : rgba(255, 153, 51, 1);
}
.eiffel3
{
  background : #0000FF;
  background : rgba(0, 0, 255, 1);
}
.outrun1
{
  background : #000000;
  background : rgba(0, 0, 0, 1);
}
.cherry4
{
  background : #FF6666;
  background : rgba(255, 102, 102, 1);
}
.outrun2
{
  background : #FF33CC;
  background : rgba(255, 51, 204, 1);
}
.outrun3
{
  background : #9900FF;
  background : rgba(153, 0, 255, 1);
}
.mascot3
{
  background : #3300FF;
  background : rgba(51, 0, 255, 1);
}
.cherry5
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.eiffel1
{
  background : #CCCCFF;
  background : rgba(204, 204, 255, 1);
}
.eiffel2
{
  background : #6666FF;
  background : rgba(102, 102, 255, 1);
}
.eiffel5
{
  background : #000033;
  background : rgba(0, 0, 51, 1);
}
.eiffel4
{
  background : #000099;
  background : rgba(0, 0, 153, 1);
}
.outrun4
{
  background : #3300FF;
  background : rgba(51, 0, 255, 1);
}
.outrun5
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.freeway1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.mascot4
{
  background : #333333;
  background : rgba(51, 51, 51, 1);
}
.verdant1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.verdant2
{
  background : #99FFCC;
  background : rgba(153, 255, 204, 1);
}
.verdant3
{
  background : #00CC66;
  background : rgba(0, 204, 102, 1);
}
.x33__00000132046570142052392780000008161721343904175516_
{
  background : #CC00CC;
  background : rgba(204, 0, 204, 1);
}
.x35__00000070833187537090243860000001941294790284678064_
{
  background : #FFCCFF;
  background : rgba(255, 204, 255, 1);
}
.x31__00000044878673051343330530000008814943293566072228_
{
  background : #330033;
  background : rgba(51, 0, 51, 1);
}
.x34__00000160155933539208991260000009262653441873054886_
{
  background : #FF99FF;
  background : rgba(255, 153, 255, 1);
}
.x32__00000011013854448199624650000017900603687289145239_
{
  background : #660066;
  background : rgba(102, 0, 102, 1);
}
.bermuda5
{
  background : #000000;
  background : rgba(0, 0, 0, 1);
}
.roseblack
{
  background : #000000;
  background : rgba(0, 0, 0, 1);
}
.lava1
{
  background : #000000;
  background : rgba(0, 0, 0, 1);
}
.freeway3
{
  background : #33FFFF;
  background : rgba(51, 255, 255, 1);
}
.freeway4
{
  background : #FF3333;
  background : rgba(255, 51, 51, 1);
}
.freeway5
{
  background : #333333;
  background : rgba(51, 51, 51, 1);
}
.bermuda1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.bermuda4
{
  background : #00FFCC;
  background : rgba(0, 255, 204, 1);
}
.bermuda2
{
  background : #FF3366;
  background : rgba(255, 51, 102, 1);
}
.bermuda3
{
  background : #66FF33;
  background : rgba(102, 255, 51, 1);
}
.fall4
{
  background : #333333;
  background : rgba(51, 51, 51, 1);
}
.wine1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.cy2
{
  background : #CCFFFF;
  background : rgba(204, 255, 255, 1);
}
.scuba2
{
  background : #CCFF00;
  background : rgba(204, 255, 0, 1);
}
.ultra3
{
  background : #33CCFF;
  background : rgba(51, 204, 255, 1);
}
.loft3
{
  background : #339999;
  background : rgba(51, 153, 153, 1);
}
.rink5
{
  background : #000000;
  background : rgba(0, 0, 0, 1);
}
.ultra5
{
  background : #000033;
  background : rgba(0, 0, 51, 1);
}
.fall1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.wine2
{
  background : #666666;
  background : rgba(102, 102, 102, 1);
}
.wine4
{
  background : #330033;
  background : rgba(51, 0, 51, 1);
}
.wine5
{
  background : #339933;
  background : rgba(51, 153, 51, 1);
}
.ker1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.ker2
{
  background : #00FF99;
  background : rgba(0, 255, 153, 1);
}
.ker3
{
  background : #0099FF;
  background : rgba(0, 153, 255, 1);
}
.ker4
{
  background : #330066;
  background : rgba(51, 0, 102, 1);
}
.rose4
{
  background : #660033;
  background : rgba(102, 0, 51, 1);
}
.cy3
{
  background : #00FFFF;
  background : rgba(0, 255, 255, 1);
}
.fall3
{
  background : #CC6633;
  background : rgba(204, 102, 51, 1);
}
.ker5
{
  background : #663399;
  background : rgba(102, 51, 153, 1);
}
.lava2
{
  background : #990000;
  background : rgba(153, 0, 0, 1);
}
.vine1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.loft5
{
  background : #333333;
  background : rgba(51, 51, 51, 1);
}
.vine2
{
  background : #CCCCCC;
  background : rgba(204, 204, 204, 1);
}
.vine3
{
  background : #669933;
  background : rgba(102, 153, 51, 1);
}
.rink4
{
  background : #9900CC;
  background : rgba(153, 0, 204, 1);
}
.scuba5
{
  background : #333333;
  background : rgba(51, 51, 51, 1);
}
.loft4
{
  background : #990033;
  background : rgba(153, 0, 51, 1);
}
.ultra4
{
  background : #003399;
  background : rgba(0, 51, 153, 1);
}
.fall5
{
  background : #666633;
  background : rgba(102, 102, 51, 1);
}
.vine4
{
  background : #993399;
  background : rgba(153, 51, 153, 1);
}
.vine5
{
  background : #000000;
  background : rgba(0, 0, 0, 1);
}
.metro1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.metro2
{
  background : #660066;
  background : rgba(102, 0, 102, 1);
}
.metro3
{
  background : #FFFF33;
  background : rgba(255, 255, 51, 1);
}
.loft1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.metro4
{
  background : #330033;
  background : rgba(51, 0, 51, 1);
}
.wine3
{
  background : #993366;
  background : rgba(153, 51, 102, 1);
}
.chap1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.ultra2
{
  background : #FFFF33;
  background : rgba(255, 255, 51, 1);
}
.metro5
{
  background : #000000;
  background : rgba(0, 0, 0, 1);
}
.rink1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.loft2
{
  background : #FFCC33;
  background : rgba(255, 204, 51, 1);
}
.scuba3
{
  background : #33FFFF;
  background : rgba(51, 255, 255, 1);
}
.rink3
{
  background : #33FFFF;
  background : rgba(51, 255, 255, 1);
}
.scuba1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.rose2
{
  background : #66FFCC;
  background : rgba(102, 255, 204, 1);
}
.lava3
{
  background : #FF9900;
  background : rgba(255, 153, 0, 1);
}
.lava5
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.cy1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.rink2
{
  background : #33FFCC;
  background : rgba(51, 255, 204, 1);
}
.cy4
{
  background : #009999;
  background : rgba(0, 153, 153, 1);
}
.cy5
{
  background : #003333;
  background : rgba(0, 51, 51, 1);
}
.fall2
{
  background : #993333;
  background : rgba(153, 51, 51, 1);
}
.lava4
{
  background : #FFCC00;
  background : rgba(255, 204, 0, 1);
}
.rose3
{
  background : #FF0066;
  background : rgba(255, 0, 102, 1);
}
.scuba4
{
  background : #9900FF;
  background : rgba(153, 0, 255, 1);
}
.ultra1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.jazz1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
}
.chap3
{
  background : #999999;
  background : rgba(153, 153, 153, 1);
}
.jazz5
{
  background : #333333;
  background : rgba(51, 51, 51, 1);
}
.chap2
{
  background : #CCCCCC;
  background : rgba(204, 204, 204, 1);
}
.chap4
{
  background : #333333;
  background : rgba(51, 51, 51, 1);
}
.jazz3
{
  background : #FF0099;
  background : rgba(255, 0, 153, 1);
}
.jazz4
{
  background : #33FF99;
  background : rgba(51, 255, 153, 1);
}
.chap5
{
  background : #000000;
  background : rgba(0, 0, 0, 1);
}
.jazz2
{
  background : #3300CC;
  background : rgba(51, 0, 204, 1);
}
