.dark{background:#333333;}
.white{background:#FFFFFF;}
.bermuda2{background:#FF3366;}
.bermuda3{background:#66FF33;}
.bermuda4{background:#00FFCC;}
.chap2{background:#CCCCCC;}
.chap3{background:#999999;}
.chap4{background:#333333;}
.cherry1{background:#330000;}
.cherry2{background:#660000;}
.cherry3{background:#CC0000;}
.cherry4{background:#FF6666;}
.cy2{background:#CCFFFF;}
.cy3{background:#00FFFF;}
.cy4{background:#009999;}
.cy5{background:#003333;}
.eiffel1{background:#CCCCFF;}
.eiffel2{background:#6666FF;}
.eiffel3{background:#0000FF;}
.eiffel4{background:#000099;}
.eiffel5{background:#000033;}
.fall2{background:#993333;}
.fall3{background:#CC6633;}
.fall4{background:#333333;}
.fall5{background:#666633;}
.freeway2{background:#FF9933;}
.freeway3{background:#33FFFF;}
.freeway4{background:#FF3333;}
.grape1{background:#330033;}
.grape2{background:#660066;}
.grape3{background:#CC00CC;}
.grape4{background:#FF99FF;}
.grape5{background:#FFCCFF;}
.jazz2{background:#3300CC;}
.jazz3{background:#FF0099;}
.jazz4{background:#33FF99;}
.ker2{background:#00FF99;}
.ker3{background:#0099FF;}
.ker4{background:#330066;}
.ker5{background:#663399;}
.lava2{background:#990000;}
.lava3{background:#FF9900;}
.lava4{background:#FFCC00;}
.loft2{background:#FFCC33;}
.loft3{background:#339999;}
.loft4{background:#990033;}
.mascot2{background:#FFCC00;}
.mascot3{background:#3300FF;}
.mascot4{background:#333333;}
.metro2{background:#660066;}
.metro3{background:#FFFF33;}
.metro4{background:#330033;}
.outrun2{background:#FF33CC;}
.outrun3{background:#9900FF;}
.outrun4{background:#3300FF;}
.rink2{background:#33FFCC;}
.rink3{background:#33FFFF;}
.rink4{background:#9900CC;}
.rose2{background:#66FFCC;}
.rose3{background:#FF0066;}
.rose4{background:#660033;}
.scuba2{background:#CCFF00;}
.scuba3{background:#33FFFF;}
.scuba4{background:#9900FF;}
.ultra2{background:#FFFF33;}
.ultra3{background:#33CCFF;}
.ultra4{background:#003399;}
.ultra5{background:#000033;}
.verdant2{background:#99FFCC;}
.verdant3{background:#00CC66;}
.verdant4{background:#006633;}
.verdant5{background:#003300;}
.vine2{background:#CCCCCC;}
.vine3{background:#669933;}
.vine4{background:#993399;}
.wine2{background:#666666;}
.wine3{background:#993366;}
.wine4{background:#330033;}
.wine5{background:#339933;}
